 body{
         width: 300px;
         height: 100px;
         border: #ccc;
         background: rgba(239, 179, 184, 0.51);

    }
    blockquote {
        background: rgba(223, 243, 217, 0.87);
        border-left: 8px solid #ccc;
        margin: 1.5em 10px;
        padding: 8% 6% 0% 4%;
        quotes: "\201C""\201D""\2018""\2019";
        border-bottom-right-radius: 28px;
        height: 76px;
    }
    blockquote:before {
      color: #ccc;
      content: open-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
    blockquote:after {
      color: #ccc;
      content: close-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
    blockquote p {
      display: inline;
    }

